root = true

[*]
insert_final_newline = true
max_line_length = 100

[*.{kt,kts}]
charset = utf-8
indent_style = space
indent_size = 2
ij_kotlin_imports_layout = *,java.**,javax.**,kotlin.**,^
ij_kotlin_name_count_to_use_star_import = 999
ij_kotlin_name_count_to_use_star_import_for_members = 999
ij_java_class_count_to_use_import_on_demand = 999
ij_java_names_count_to_use_import_on_demand = 999
ij_java_packages_to_use_import_on_demand = unset
ij_kotlin_packages_to_use_import_on_demand = unset
ij_kotlin_allow_trailing_comma_on_call_site = true
ij_kotlin_allow_trailing_comma = true
# noinspection EditorConfigKeyCorrectness
ktlint_standard_no-empty-first-line-in-method-block = disabled
# noinspection EditorConfigKeyCorrectness
ktlint_standard_multiline-expression-wrapping = disabled
# noinspection EditorConfigKeyCorrectness
ktlint_standard_string-template-indent = disabled
# noinspection EditorConfigKeyCorrectness
ktlint_standard_no-blank-line-in-list = disabled
# noinspection EditorConfigKeyCorrectness
ktlint_standard_no-empty-first-line-in-class-body = disabled
# noinspection EditorConfigKeyCorrectness
ktlint_function_signature_rule_force_multiline_when_parameter_count_greater_or_equal_than=3
# noinspection EditorConfigKeyCorrectness
ktlint_function_signature_body_expression_wrapping=default
